<app-header backbutton="/auth" title="Resetear Contraseña"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>
      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.email"
        type="email"
        label="Correo electrónico"
      ></app-custom-input>
      <ion-button
        expand="block" mode="ios" class="submit" 
        type="submit" [disabled]="form.invalid">
        Recuperar
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content> 