<app-header backbutton="/auth" title="Registro"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>
      <app-custom-input
        autocomplete="name"
        icon="person-outline"
        [control]="form.controls.name"
        type="text"
        label="Usuario"
      ></app-custom-input>      
      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.email"
        type="email"
        label="Correo electrónico"
      ></app-custom-input>
      <app-custom-input
        icon="lock-closed-outline"
        [control]="form.controls.password"
        type="password"
        label="Contraseña"
      ></app-custom-input> 
      <ion-button
        expand="block" mode="ios" class="submit" 
        type="submit" [disabled]="form.invalid">
        Regístrate
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
     
    </form>
  </div>
</ion-content> 